body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #282828;
}

.video  {
  width: 50%;
  height: auto;
  position: absolute;
  left: 25%;
  top: 20vh;
}